 
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #0d1117;
  text-shadow: 0 0 5px rgba(255, 20, 147, 0.4);
}

body::before,
body::after {
  content: '';
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(150px);
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

body::before {
  top: 20%;
  left: 30%;
  color: #e53c91;
  color: #708edb;
  background: rgba(255, 0, 127, 0.6);
}

body::after {
  top: 80%;
  left: 80%;
  background: rgba(0, 212, 255, 0.4);
}



.subhead-color {
  background: linear-gradient(90deg, #ff69b4, #9370db);
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 5px rgba(255, 20, 147, 0.2);
  font-weight: bold;
}

.title-color {
  color: #ffffff;
  text-shadow: 0 0 5px rgba(255, 20, 147, 0.4);
}


.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  background: conic-gradient(rgba(0, 212, 255, 1) 0%,
      rgba(255, 0, 127, 1) 50%,
      rgba(0, 212, 255, 1) 100%);
}

.image-container img {
  border-radius: 50%;
  object-fit: cover;
  background: #0d1117;
}

.btn { 
  line-height: 40px; 
  color: #fff;
  width: 130px;
  height: 40px;
  position: relative;
  text-transform: uppercase;
}


.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgb(157, 9, 183);
  box-shadow: 0 0 5px rgb(157, 9, 183);
  transition: all 0.3s ease;
  z-index: 0;
}

.btn:before {
  height: 50%;
  width: 2px;
}

.btn:after {
  width: 20%;
  height: 2px;
}

.btn:hover:before {
  height: 100%;
}

.btn:hover:after {
  width: 100%;
}

.btn span:before,
.btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgb(157, 9, 183);
  box-shadow: 0 0 5px rgb(157, 9, 183);
  transition: all 0.3s ease;
}

.btn span:before {
  width: 2px;
  height: 50%;
}

.btn span:after {
  height: 2px;
  width: 20%;
}

.btn:hover span:before {
  height: 100%;
}

.btn:hover span:after {
  width: 100%;
}